# This is Git's per-user configuration file.
[user]
name = Casey Flynn
email = cflynn.us@gmail.com
	signingkey = 4E77CCE83733AEB7
	gpgsign = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[hub]
	protocol = ssh
[core]
	excludesfile = /Users/casey/.gitignore_global
	editor = nvim
[commit]
	gpgsign = true
[gpg]
  program = gpg
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
